<header class="about-header">
  <h1 class="about-name">Scott Ammon</h1>
  <h3 class="about-desc">Full Stack Web Developer</h3>
</header>
<div class="container about">
  <div class="flex-about">
      <div>
      <p class="flex-desc">Motivated by curiosity, I love exploring the intersection of engineering 
        and design. My full stack web development skills coupled with management 
        experience at both a Fortune 500 and a small family-owned company position 
        me to assimilate into any team environment.<br/><br/>

        Outside the office you can find me drumming, and narrowly avoiding seaplanes 
        on my paddle board. Will happily talk your ear off about either.
        </p>
        <div class="flex-skills">
            <div>
              <h3>Front</h3>
              <p>JavaScript</p>
              <p>React</p>
              <p>Redux</p>
              <p>HTML5</p>
              <p>CSS3</p>
              <p>jQuery</p>
              <p>EJS</p>
              <p>Materialize</p>
            </div>
            <div>
              <h3>Back</h3>
              <p>Node</p>
              <p>Express</p>
              <p>Postgres</p>
              <p>MongoDB</p>
              <p>Python</p>
            </div>
            <div>
              <h3>Design</h3>
              <p>Adobe XD</p>
              <p>Adobe Lightroom</p>
            </div>
          </div>
        </div>
    <div class="about-img">
      <img src="../img/headshot.jpg" alt="profile photo">
    </div>
  </div>
</div>