<div class="flex-about">
  <section class="about-header">
    <h1 class="about-name">Scott Ammon</h1>
    <h4 class="about-desc">Web Developer | Engineer</h4>
    <p>Faucibus vitae aliquet nec ullamcorper sit amet. Diam vulputate ut 
      pharetra sit amet aliquam id. In hendrerit gravida rutrum quisque non 
      tellus. Volutpat odio facilisis mauris sit amet massa vitae. Mauris 
      rhoncus aenean vel elit scelerisque mauris pellentesque. Blandit 
      aliquam etiam erat velit. Auctor urna nunc id cursus metus aliquam 
      eleifend. Pretium aenean pharetra magna ac placerat vestibulum lectus 
      mauris.
      
      Pellentesque elit ullamcorper dignissim cras tincidunt. Nunc 
      sed blandit libero volutpat sed cras ornare. Morbi quis commodo odio
      Quis risus sed vulputate odio ut enim. Morbi tempus iaculis urna id.
      laoreet id donec ultrices tincidunt arcu non sodales.
      
      Arcu non sodales ut etiam sit amet. Morbi enim nunc faucibus. 
      Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. 
      Fringilla urna porttitor rhoncus dolor purus non enim.
      </p>
  </section>
  <div class="about-img">
    <img src="../img/headshot.jpg" alt="profile photo">
  </div>
</div>
<div class="flex-skills">
  <section>
    <h3>Front</h3>
    <p>HTML5</p>
    <p>CSS</p>
    <p>JavaScript</p>
    <p>jQuery</p>
    <p>Materialize</p>
  </section>
  <section>
    <h3>Back</h3>
    <p>Node</p>
    <p>Express</p>
    <p>React</p>
    <p>Postgres</p>
    <p>MongoDB</p>
  </section>
  <section>
      <h3>Design</h3>
      <p>Adobe XD</p>
      <p>Adobe Lightroom</p>
    </section>
</div>



