<div class="container about">
  <div class="flex-about">
    <section class="about-header">
      <h1 class="about-name">Scott Ammon</h1>
      <h3 class="about-desc">Full Stack Web Developer</h3>
      <p>Motivated by curiosity, I love exploring the intersection of engineering 
        and design. My full stack web development skills coupled with management 
        experience at both a Fortune 500 and a small family-owned company position 
        me to assimilate into any team environment.<br/><br/>

        Outside the office you can find me drumming, and narrowly avoiding seaplanes 
        on my paddle board. Will happily talk your ear off about either.
        </p>
    </section>
    <div class="about-img">
      <img src="../img/headshot.jpg" alt="profile photo">
    </div>
  </div>
  <div class="flex-skills">
    <section>
      <h3>Front</h3>
      <p>HTML5</p>
      <p>CSS</p>
      <p>JavaScript</p>
      <p>jQuery</p>
      <p>Materialize</p>
    </section>
    <section>
      <h3>Back</h3>
      <p>Node</p>
      <p>Express</p>
      <p>React</p>
      <p>Postgres</p>
      <p>MongoDB</p>
    </section>
    <section>
        <h3>Design</h3>
        <p>Adobe XD</p>
        <p>Adobe Lightroom</p>
      </section>
  </div>
</div>
