<div class="contact">
  <a href="https://github.com/scott-ammon"><img class="icon" src="./img/github.png"></a><h3>scott-ammon</h3><br/>
  <a href="https://www.linkedin.com/in/scottammon/"><img class="icon" src="./img/linkedin.png"></a><h3>scottammon</h3><br/>
  <a href="https://github.com/scott-ammon"><img class="icon" src="./img/github.png"></a><h3>scott.o.ammon@gmail.com</h3><br/>
</div>

