<div class="grid-container">
  <div class="left-one-third">
    <div class="headline">
        <h1 class="name-line scott">SCOTT</h1>
    </div>
  </div>
  <div class="right-two-thirds">
      <div class="headline">
          <h1 class="name-line ammon">AMMON</h1>
          <h4 class="tagline">I design and build full stack web applications.</h4><br/>
          <h2 class="links">Check out my <span>code</span> and <span>portfolio.</span></h2>
        </div>
  </div>
</div>

