<div class="headline section-title">
    <h1>WEB PROJECTS</h1>
</div>

<div class="project">
  <div class="proj-text">
    <a href="/project3"><h3>Orca Reloaded</h3></a>
    <p>A Node/React rebuild of the outdated Orca Card website.</p>
  </div>
</div>

<div class="project">
    <div class="proj-text">
      <a href="/project1"><h3>Maker Collab</h3></a>
      <!-- <p>A site for makers to collaborate on single-board computer projects.</p> -->
    </div>
  </a>
</div>

<div class="project">
  <div class="proj-text">
    <a href="/project2"><h3>Nim</h3></a>
    <!-- <p>Simple math strategy game with 2P and AI modes.</p> -->
  </div>
</div>

<div class="section-title">
  <h1>SIDE PROJECTS</h1>
</div>

<div class="project">
  <div class="proj-text">
    <a href="/sp1"><h3>Arduino</h3></a>
    <!-- <p>Another project description.</p> -->
  </div>
</div>

<div class="project">
  <div class="proj-text">
    <a href="/sp2"><h3>PSO Algorithm</h3></a>
    <!-- <p>Another project description.</p> -->
  </div>
</div>