<div class="grid-container">
  <div class="left-one-third">
    <div class="headline">
        <h1 class="name-line scott">Scott</h1>
    </div>
  </div>
  <div class="right-two-thirds">
      <div class="headline">
          <h1 class="name-line ammon">A</h1>
          <h4 class="tagline">I design and build full stack web applications.</h4>
      </div>
  </div>
</div>

