<div class="headline">
    <h1 class="name-line">Latest Work</h1>
    <br/>
</div>

<div class="flex-projects">

  <div class="project">
    <img src="img/p2.png">
    <a href="/portfolio/p1">
      <div class="project-overlay">
        <div class="proj-text">
          <h3 class="project-title">Maker Collab</h3>
          <p class-"proj-desc">A site for makers to collaborate on single-board computer projects.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="project">
    <img src="img/p1.png">
    <a href="/portfolio/p2">
      <div class="project-overlay">
        <div class="proj-text">
          <h3 class="project-title">Nim</h3>
          <p class-"proj-desc">Simple math strategy game with 2P and AI modes.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="project">
    <img src="img/p1.png">
    <a href="/portfolio/p3">
      <div class="project-overlay">
        <div class="proj-text">
          <h3 class="project-title">Orca Card Reloaded</h3>
          <p class-"proj-desc">A Node/React rebuild of the outdated Orca Card website.</p>
        </div>
      </div>
    </a>
  </div>

  <div class="project">
    <img src="img/p1.png">
    <a href="/portfolio/p4">
      <div class="project-overlay">
        <div class="proj-text">
          <h3 class="project-title">Another Project</h3>
          <p class-"proj-desc">Another project description.</p>
        </div>
      </div>
    </a>
  </div>

</div>

