<div class="main-page-background">
  <div class="container">
    <h1 class="headline">Scott Ammon</h1>
    <h3 class="tagline">full stack web developer</h3>
    <div class="section-title">
        <h3>web projects</h3>
        <div class="bottom-border"></div>
    </div>

    <div class="project">
      <div class="proj-text">
        <a href="/orca-reloaded"><h3>ORCA Reloaded</h3></a>
        <p>A Node/React rebuild of the outdated Orca Card website.</p>
      </div>
    </div>

    <div class="project">
        <div class="proj-text">
          <a href="/maker-collab"><h3>Maker Collab</h3></a>
          <p>A site for makers to collaborate on single-board computer projects.</p>
        </div>
      </a>
    </div>

    <div class="project">
      <div class="proj-text">
        <a href="/nim"><h3>Nim</h3></a>
        <p>Simple math strategy game with 2P and AI modes.</p>
      </div>
    </div>

    <div class="section-title">
      <h3>side projects</h3>
      <div class="bottom-border"></div>
    </div>

    <div class="project">
      <div class="proj-text">
        <a href="/arduino"><h3>Arduino</h3></a>
        <p>Another project description.</p>
      </div>
    </div>

    <div class="project">
      <div class="proj-text">
        <a href="/pso"><h3>PSO Algorithm</h3></a>
        <p>Another project description.</p>
      </div>
    </div>
    
  </div>
</div>