<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Ammon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla Slab:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header class="group">
      <h1 class="logo">
        <a href="/" class="logo">SA</a>
      </h1>

      <nav class="nav">
        <a href="/portfolio">Portfolio</a>
        <a href="/about">About</a>
        <a href="/resume">Resume</a>
      </nav>
    </header>
    
      
    <div class="container">
      <%- body %>
      <!-- Contact Button -->
      <!-- <a><i class="material-icons">add</i></a> -->
    </div>

	  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script src='../js/main.js'></script>
  </body>
</html>