<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Ammon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <a href="/">SCOTT AMMON</a>
      </div>
          
      <nav class="nav">
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
        <a href="/resume">RESUME</a>
      </nav>
    </header>
    
      
    <div>
      <%- body %>
    </div>

	  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <script src='../js/main.js'></script>
  </body>
</html>