<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scott Ammon | Web Developer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="css/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="../img/favicon.ico" />
  </head>
  <body>  
    <!-- Styled div to create circular menu button -->
    <div class="nav-button"></div>
    <!-- Nav menu displayed on navbar click -->
    <nav id="nav-menu">
      <div class="nav-links">
        <a href="/">Projects</a>
        <a href="/about">About</a>
        <a href="/resume" target="_blank">Resume</a>
        <div class="bottom-border"></div>
      </div>
      <div class="contact">
        <a class="flex-contact" href="https://github.com/scott-ammon" target="_blank">
          <img src="./img/github.png">
          <p class="contact-desc">Github</p>
        </a>
        <a class="flex-contact" href="https://www.linkedin.com/in/scottammon/" target="_blank">
          <img src="./img/linkedin.png">
          <p class="contact-desc">LinkedIn</p>
        </a>
        <a class="flex-contact" href="mailto:scott.o.ammon@gmail.com">
          <img src="./img/mail.png">
          <p class="contact-desc">Email</p>
        </a>
      </div>
    </nav>

    <!-- Main page content injected with EJS templates -->
    <main>
      <%- body %>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	  <script src='../js/main.js'></script>
  </body>
</html>