body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif; 
}

.container {
  margin: 0 auto;
  width: 70vw;
}

.header {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: white;
  justify-content: space-between;
}

.nav {
  margin-top: 1em;
  margin-right: 2.5rem;
}

.logo {
  margin-left: 2.5rem;
  margin-top: 1em;
}

.nav a,
div .logo {
  padding: 0.7rem;
  text-decoration: none;
  color: black;
}

.contact {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #17c37b; 
}

.headline {
  font-family: "Zilla Slab", sans-serif;
  margin-top: 5vh;
  text-align: center;
}

.name-line {
  margin: 0;
  font-size: 4em;
  font-weight: 400;
}

.tagline {
  font-size: 1.25rem;
  font-weight: 400;
}

.links {
  text-align: left;
  margin-left: 1rem;
}

span {
  background-color: white;
  padding: .25rem;
}

/* ================ MAIN PAGE PROJECTS ================= */
.flex-projects {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  position: relative;
  padding: 1rem;
}

.project-overlay {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  /* height: 100%;
  width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: #222;
}

.project:hover .project-overlay {
  opacity: 1;
}

.proj-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project img {
  max-width: 100%;
}

/* ==================== ABOUT PAGE ===================== */
.flex-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.about-name {
  margin: 0;
  /* padding-left: 2rem; */
  font-size: 3em;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 600;
}

.about-desc {
  margin: 0;
  /* padding-left: 2rem; */
  font-family: "Zilla Slab", sans-serif;
  font-weight: 400;
}

.about-content {
  padding: 2em;
  background-color: #F0F0F0;
}

.about-img {
  margin-top: 15px auto;
}

/* ==================== MEDIA QUERIES ===================== */

@media (max-width: 600px) {
  .header {
    margin: 0;
    text-align: center;
    flex-direction: column;
  }
  .logo {
    margin: 0.5rem 0 0 0;
  }
  .nav {
    margin: 0.25rem 0 0 0;
  }
  .container {
    width: 90vw;
  }
  .name-line {
    font-size: 2em;
  }
  .tagline {
    font-size: 1em;
  }
  .grid-container {
    grid-template-rows: 70%;
  }
  .flex-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  img {
    max-height: 300px;
  }
}