body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif; 
}

.container {
  /* margin-top: 3em; */
}

.nav {
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

.nav a {
  padding: 0.7rem;
  text-decoration: none;
  color: black;
}

.logo {
  float: left;
  margin: .1em 0 0 .25em;
  text-decoration: none;
  color: white;
}

/* ================= Clearfix =================== */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
  position: fixed; 
  top: 0; 
  width: 100%;
}

.contact {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #2E5FCE;
}

.headline {
  font-family: "Zilla Slab", sans-serif;
  margin-top: 30vh;
  text-align: center;
}

.name-line {
  text-align: right;
  margin: 0;
  font-size: 7em;
  font-weight: 600;
}

.scott {
  text-align: right;
  margin-right: .25em;
  color: white;
}

.ammon {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 0;
  color: #2E5FCE;
}

.tagline {
  margin-left: 1rem;
  text-align: left;
  color: black;
  font-size: 1.8rem;
  font-weight: 400;
}

/* ============= MAIN PAGE BACKGROUND DIVS ============= */
.grid-container {
  display: grid;
  grid-template-columns: 33vw 67vw;
  grid-template-rows: 100vh;
}

.left-one-third {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: #2E5FCE;
}

.right-two-thirds {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

/* ==================== ABOUT PAGE ===================== */
.about-header {
  border-top-left-radius: 2rem;
  background-color: #2E5FCE;
}
.about-name {
  margin: 0;
  padding-left: 2rem;
  font-size: 3em;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 600;
  color: white;
}

.about-desc {
  margin: 0;
  padding-left: 2rem;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 400;
  color: white;
}

.about-content {
  padding: 2em;
  background-color: #F0F0F0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#about-portrait {
  padding: 0;
}

.about-row {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ==================== PORTFOLIO ===================== */

