body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  background-color: #F0F0F0;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.container {
  position: relative;
  /* background-color: white;
  border-radius: 3em;
  margin: 2.5vh auto;
  overflow: auto;
  height: 90%;
  width: 97%; */
}

.contact {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #2E5FCE;
}

nav ul {
  margin-right: 2em;
}

nav .brand-logo {
  margin-left: 1em;
}

@media (max-width: 600px) {
  nav .brand-logo {
    margin-left: 0;
  }
}

.headline {
  font-family: "Zilla Slab", sans-serif;
  text-align: center;
  margin-top: 30vh;
}

.name-line {
  margin: 0;
  font-size: 5em;
  font-weight: 600;
  color: #2E5FCE;
}

.tagline {
  margin: 1em;
  font-size: 1.8rem;
  font-weight: 400;
}

header {
  display: inline-block;
  overflow: auto;
  text-align: center;
}

.logo {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 3em;
}

/* ==================== ABOUT PAGE ===================== */
.about-header {
  border-top-left-radius: 2rem;
  background-color: #2E5FCE;
}
.about-name {
  margin: 0;
  padding-left: 2rem;
  font-size: 3em;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 600;
  color: white;
}

.about-desc {
  margin: 0;
  padding-left: 2rem;
  font-family: "Zilla Slab", sans-serif;
  font-weight: 400;
  color: white;
}

.about-content {
  padding: 2em;
  background-color: #F0F0F0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#about-portrait {
  padding: 0;
}

.about-row {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ==================== PORTFOLIO ===================== */

