<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>Arduino</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        I used Processing (www.openprocessing.org) to develop a realtime 3D plot of accelerometer output through a serial interface. 
        The MMA7631 board from Sparkfun connects to my Arduino Uno with a separate analog output for each axis (x, y, z).  The program scales 
        the analog inputs to represent angles of the ‘x’ and ‘y’ axes between -90 and 90 degrees after establishing zero points with a 
        batch of readings when the board initializes.
      </p>
      <p>
        I drew a physical case for the board in Rhino, and had it 3D printed out of PLA. I sanded the PLA, applied a layer of XTC-3D, 
        and applied a flat black paint to finish. I sized the holes for M3 screws, and only had to drill them out slightly due to the print 
        tolerance and build-up of XTC-3D and paint.
      </p>
    </div>
  </section>
  <!-- <section class="proj-links">
    <a href="https://github.com/scott-ammon/processing-pso-algorithm" target="_blank">Github</a>
  </section> -->
  <section class="proj-img-flex">
    <div>
      <img src="../img/arduino/1.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/2.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/3.jpeg" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/4.jpeg" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/5.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/6.png" alt="3d printed accelerometer case">
    </div>
    
  </section>
</div>
<footer class="proj-footer">
  <a href="/pso"><h1>Next Project</h1></a>
</footer>


