<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>Arduino</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        Arduino is a single board microcontroller used for hobby electronics. I built this project 
        to learn how to send serial data from the board to the Processing IDE and make a 3D visual 
        representation of the data. The MMA7631 acceleromater connects to my Arduino Uno with a separate analog output for each axis (x, y, z).  
        I wrote code in the Arduino IDE to scale the analog inputs to represent angles of the ‘x’ and ‘y’ axes between -90 and 90 degrees 
        after establishing zero points with a batch of readings when the board initializes.
      </p>
      <p>
        I drew a physical case for the board in Rhino3D, and had it 3D printed out of PLA. The images below show the 3D drawing, the actual printed
        part, and the Processing visualization of the data being sent through the interface. I wrote Processing code to display the three axes, 
        and a cube to help visualize the current orientation of the accelerometer.
      </p>
    </div>
    <hr/>
  </section>
  <!-- <section class="proj-links">
    <a href="https://github.com/scott-ammon/processing-pso-algorithm" target="_blank">Github</a>
  </section> -->
  <section class="proj-img-flex">
    <div>
      <img src="../img/arduino/1.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/2.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/3.jpeg" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/4.jpeg" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/5.png" alt="3d printed accelerometer case">
    </div>
    <div>
      <img src="../img/arduino/6.png" alt="3d printed accelerometer case">
    </div>
    
  </section>
</div>
<footer class="proj-footer">
  <a href="/pso"><h1>Next Project</h1></a>
</footer>


