<h1>Arduino + Accelerometer</h1>
<h4>Background</h4>
<p>I used Processing (www.openprocessing.org) to develop a realtime 3D plot of accelerometer output through a serial interface. 
   The MMA7631 board from Sparkfun connects to my Arduino Uno with a separate analog output for each axis (x, y, z).  The program scales 
   the analog inputs to represent angles of the ‘x’ and ‘y’ axes between -90 and 90 degrees after establishing zero points with a 
   batch of readings when the board initializes.</p>
<p>I drew a physical case for the board in Rhino, and had it 3D printed out of PLA. I sanded the PLA, applied a layer of XTC-3D, 
   and applied a flat black paint to finish. I sized the holes for M3 screws, and only had to drill them out slightly due to the print 
   tolerance and build-up of XTC-3D and paint.</p>
   