<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>Maker Collab</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        This project was aimed at bringing together hobbyists working
        on single-board computer projects like Arduino and Raspberry Pi.
      </p>
      <div class="tech-list">
        <div class="tech-flex">
          <p class="tech-title">Front End:</p>
          <p>Chart.js</p>
          <p>Mapbox GL JS</p>
          <p>Materialize</p>
          <p>JavaScript</p>
        </div>
        <div class="tech-flex">
          <p class="tech-title">Back End:</p>
          <p>Node</p>
          <p>Express</p>
          <p>EJS</p>
          <p>Sequelize</p>
          <p>Postgres</p>
        </div>
      </div>
    </div>
  </section>
  <section class="proj-links">
    <a href="https://github.com/scott-ammon/maker-collab" target="_blank">Github</a>
    <a href="https://maker-collab.herokuapp.com/" target="_blank">Live Site</a>
  </section>
  <section class="proj-img-flex">
    <div>
      <img src="../img/mc-responsive.png" alt="maker collaboration responsive">
    </div>
    <div>
      <img src="../img/mc-homepage.png" alt="maker collaboration homepage">
    </div>
  </section>
</div>
<footer class="proj-footer">
  <a href="/nim"><h1>Next Project</h1></a>
</footer>