<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>Nim</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        I built a version of Nim, a mathematical strategy game where 
        players take turns removing items from three distinct piles. Players 
        can remove as many items from one single pile during a turn. The player 
        who is left to remove the last remaining piece loses, under the 'misere'
        style of game-play. It's a simple game to play, but involves some 
        interesting math to calculate the optimal move on each turn.<br/><br/>

        After building the two-player version, I implemented a computer 
        player that is able to beat a human player under the 'misere' style of 
        playing conditions. I build the computer logic for playing the game 
        based on the proven combinatorial game theory for Nim, which you can 
        read about <a class="external-link" target="_blank" href="https://en.wikipedia.org/wiki/Nim#Mathematical_theory">here.</a>
      </p>
      <hr/>
      <div class="tech-list">
        <div class="tech-flex">
          <p class="tech-title">Front End:</p>
          <p>JavaScript</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>Materialize</p>
        </div>
      </div>
    </div>
  </section>
  <section class="proj-links">
    <a href="" target="_blank">Github</a>
    <a href="https://scott-ammon.github.io/unit1-game/" target="_blank">Live Site</a>
  </section>
  <section class="proj-img-flex">
    <div>
      <img src="../img/nim.png" alt="nim homepage">
    </div>
    <div>
      <img src="../img/nim-responsive.png" alt="nim responsive">
    </div>
  </section>
</div>
<footer class="proj-footer">
  <a href="/arduino"><h1>Next Project</h1></a>
</footer>