<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>Nim</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        Two player math strategy game.
      </p>
      <div class="tech-list">
        <div class="tech-flex">
          <p class="tech-title">Front End:</p>
          <p>JavaScript</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>Materialize</p>
        </div>
      </div>
    </div>
  </section>
  <section class="proj-links">
    <a href="" target="_blank">Github</a>
    <a href="https://scott-ammon.github.io/unit1-game/" target="_blank">Live Site</a>
  </section>
  <section class="proj-img-flex">
    <div>
      <img src="../img/" alt="nim homepage">
    </div>
    <div>
      <img src="../img/" alt="nim responsive">
    </div>
  </section>
</div>
<footer class="proj-footer">
  <a href="/arduino"><h1>Next Project</h1></a>
</footer>