<div class="proj-container">
  <header class="title-container">
    <div class="proj-title">
      <h1>ORCA Card Reloaded</h1>
    </div>
  </header>
  <section class="proj-section">
    <div class="proj-desc">
      <p>
        Rebuilding ORCA site to be responsive with React and Redux.
      </p>
      <div class="tech-list">
        <div class="tech-flex">
          <p class="tech-title">Front End:</p>
          <p>React</p>
          <p>Redux</p>
          <p>Mapbox GL JS</p>
          <p>Material UI</p>
          <p>Helmet</p>
          <p>JavaScript</p>
        </div>
        <div class="tech-flex">
          <p class="tech-title">Back End:</p>
          <p>Node</p>
          <p>Express</p>
          <p>EJS</p>
          <p>Sequelize</p>
          <p>Postgres</p>
        </div>
      </div>
    </div>
  </section>
  <section class="proj-links">
    <a href="https://github.com/scott-ammon/orca-card-reloaded" target="_blank">Github</a>
    <a href="https://orca-card-reloaded.herokuapp.com/" target="_blank">Live Site</a>
  </section>
  <section class="proj-img-flex">
    <div>
      <img src="../img/orca-card-mobile.png" alt="orca responsive">
    </div>
    <div>
      <img src="../img/orca-responsive.png" alt="orca homepage">
    </div>
  </section>
</div>
<footer class="proj-footer">
  <a href="/maker-collab"><h1>Next Project</h1></a>
</footer>