<div class="proj-container">
    <header class="title-container">
      <div class="proj-title">
        <h1>Particle Swarm Optimization</h1>
      </div>
    </header>
    <section class="proj-section">
      <div class="pso-gif">
        <img src="../img/pso3d.gif" alt="pso two dimensional plot">
      </div>
      <div class="proj-desc">
        <p>
          I chose to refactor a particle swarm optimization algorithm I had written in MATLAB into a language/visualization library called Processing. The original algorithm 
          was applied to the problem of sizing an offshore Tension Leg Platform (TLP) to maximize performance while minimizing cost. In order to
          create the Processing code, I chose to minimize a simple function in the form y = x^2 to start. You can differentiate this 
          function directly, and it is unnecessary to perform numerical methods to minimize, but this provides an easy example 
          to graph output and watch the population variables converge toward the global minimum (0,0) to verify that the code is functioning.
        </p> 
        <p> 
          The name particle swarm stems from the way that the population variables influence each other’s movements, 
          similar to a flock of birds or a school of fish. This method works well in numerically minimizing multivariate, nonlinear objective 
          functions with multiple constraints, like the TLP design problem that I previously used this for.
        </p>
        <p>
          This was a great way to learn some new syntax (Processing uses Java, with some modifications), and refactor some of my code!
        </p>
      </div>
    </section>
    <section class="proj-links">
      <a href="https://github.com/scott-ammon/processing-pso-algorithm" target="_blank">Github</a>
    </section>
    <section class="proj-img-flex">
      <div>
        <img src="../img/swarm2d.png" alt="pso two dimensional plot">
      </div>
    </section>
  </div>
  <footer class="proj-footer">
    <a href="/"><h1>Back To Home</h1></a>
  </footer>


