<div class="row p1">
  <div class="col l6 m6 s12">
    <img src="img/p2.png">
  </div>
  <!-- <div class="proj col l4">
    <h4>Project Stuff</h4>
    <p>Description of project</p>
  </div> -->
  <div class="col l6 m6 s12">
      <img src="img/p1.png">
  </div>
  <!-- <div class="col l4">
    <h4>Project More Stuff</h4>
    <p>Description of project</p>
  </div> -->
  <div class="col l6 m6 s12">
      <img src="img/p1.png">
  </div>
  <!-- <div class="col l4">
    <h4>Project Wow</h4>
    <p>Description of project</p>
  </div> -->

<div class="row p4">
  <div class="col l6 m6 s12">
      <img src="img/p1.png">
  </div>
  <!-- <div class="col l4">
    <h4>Project More Wow</h4>
    <p>Description of project</p>
  </div> -->
</div>